<div id="hero" class="flat">
  <%- partial('_partial/navigation') %>
</div>

<div id="content" class="error404">
  <div class="container">
    <h1 class="display-1">404</h1>
    <h2>Page not found!</h2><a class="btn btn-outline-light btn-lg mt-4" href="https://www.rainmeter.net/">Return to homepage &raquo;</a>
  </div>
</div>

<%- partial('_partial/footer') %>

<script>
  if (location.pathname.indexOf('/manual-beta') === 0) {
    location.pathname = location.pathname.replace('/manual-beta', '/manual')
  }
</script>
