---
base_name: 'developers'
base_title: 'Developers'
base_nav: |
	<h1>Contents</h1>
	<ul>
	<li><a href="!plugin/plugin-anatomy/">Anatomy of a Plugin</a>
	<li><a href="!plugin/cpp/">C++ Overview</a>
		<ul>
		<li><a href="!plugin/cpp/api/">C++ API Reference</a>
		</ul>
	<li><a href="!plugin/csharp/">C# Overview</a>
		<ul>
		<li><a href="!plugin/csharp/api/">C# API Reference</a>
		</ul>
	<li><a href="!plugin/guidelines/">Plugin Guidelines</a>
	</ul>

	<h1>More</h1>
	<ul>
	<li><a href="/manual/">4.0 Final Manual</a>
	<li><a href="/manual-beta/">4.1 Beta Manual</a>
	<li><a href="/tips/">Tips &amp; Tricks</a>
	<li><a href="/snippets/">Snippets</a>
	<li><a href="/history/">Version History</a>
	</ul>
---
<%- partial('_partial/article') %>
