---
base_name: 'developers'
base_title: 'Developers'
base_nav: |
  <h1>Contents</h1>
  <ul>
  <li><a href="/developers/#ProjectSourceCode">Project Source Code</a>
  <li><a href="/developers/#CreatePlugin">Creating Rainmeter Plugins</a>
  <li><a href="/developers/#SendMessage">SendMessage Examples</a>
  </ul>
  
  <h1>More</h1>
  <ul>
  <li><a href="/manual/">3.2 Final Manual</a>
  <li><a href="/manual-beta/">3.3 Beta Manual</a>
  <li><a href="/tips/">Tips &amp; Tricks</a>
  <li><a href="/snippets/">Snippets</a>
  <li><a href="/history/">Version History</a>
  </ul>
---
<%- partial('_partial/article') %>
