---
base_name: 'history'
base_title: 'Version History'
base_nav: |
  <h1>Contents</h1>
  <ul>
  <li><a href="#3.0.2">Rainmeter 3.0.2</a>
  <li><a href="#3.0.1">Rainmeter 3.0.1</a>
  <li><a href="#3.0">Rainmeter 3.0</a>
  <li><a href="#2.5">Rainmeter 2.5</a>
  <li><a href="#2.4">Rainmeter 2.4</a>
  <li><a href="#2.3">Rainmeter 2.3</a>
  <li><a href="#2.2">Rainmeter 2.2</a>
  <li><a href="#2.1">Rainmeter 2.1</a>
  <li><a href="#2.0">Rainmeter 2.0</a>
  <li><a href="#1.3">Rainmeter 1.3</a>
  <li><a href="#1.2">Rainmeter 1.2</a>
  <li><a href="#1.1">Rainmeter 1.1</a>
  <li><a href="#1.0">Rainmeter 1.0</a>
  </ul>
  
  <h1>Pre-Development</h1>
  <ul>
  <li><a href="#0.14">Rainmeter 0.14</a>
  <li><a href="#0.13">Rainmeter 0.13</a>
  <li><a href="#0.12">Rainmeter 0.12</a>
  <li><a href="#0.11">Rainmeter 0.11</a>
  <li><a href="#0.10">Rainmeter 0.10</a>
  <li><a href="#0.9">Rainmeter 0.9</a>
  <li><a href="#0.8">Rainmeter 0.8</a>
  <li><a href="#0.7">Rainmeter 0.7</a>
  <li><a href="#0.6">Rainmeter 0.6</a>
  <li><a href="#0.5">Rainmeter 0.5</a>
  <li><a href="#0.4">Rainmeter 0.4</a>
  <li><a href="#0.3">Rainmeter 0.3</a>
  <li><a href="#0.2">Rainmeter 0.2</a>
  <li><a href="#0.1">Rainmeter 0.1</a>
  </ul>
  
  <h1>More</h1>
  <ul>
  <li><a href="/manual">3.0 Final Manual</a>
  <li><a href="/manual-beta">3.1 Beta Manual</a>
  <li><a href="/tips">Tips &amp; Tricks</a>
  <li><a href="/snippets">Snippets</a>
  </ul>
---
<%- partial('_partial/article') %>