<div id="panel">
  <div id="hero" class="flat">
    <%- partial('_partial/navigation') %>
  </div>

  <div id="content">
    <div class="container">
    <%- page.content %>
    </div>
  </div>

  <%- partial('_partial/footer') %>
</div>
