<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags for proper character encoding and social media handling  -->
	<meta charset="utf-8">
	<meta property="viewport" content="user-scalable=no, width=device-width, initial-scale=0.9, maximum-scale=0.9">
	<meta itemprop="name" content="<% if (page.title) { %><%= page.title %> - <% } %>Rainmeter Docs">
	<meta property="og:title" content="<% if (page.title) { %><%= page.title %> - <% } %>Rainmeter Docs">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.rainmeter.net">
	<meta property="og:image" content="https://www.rainmeter.net/img/media_image.png">
	<meta property="og:site_name" content="Rainmeter">
	<meta property="og:locale" content="en_US" />

	<!-- Page title  -->
	<title><% if (page.title) { %><%= page.title %> - <% } %>Rainmeter</title>

	<!-- Files need to be local for offline version of documentations -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/rainmeter.css">
	<link rel="stylesheet" href="/css/jquery.fancybox.min.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

	<!-- Site icon -->
	<link rel="shortcut icon" href="//www.rainmeter.net/favicon.ico">

</head>

<body>

  <%- body %>

	<!-- Javascript files  -->
	<script src="/js/main.js"></script>
	<script src="/js/jquery-3.2.1.slim.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/ahk-sliding-panel.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>

	<!-- Script for the slideout menu on mobile -->
	<script>
		// set slideout menu variables
		var docsnav = new ahk_slideout({
		  id: "menu",
		  side: "left",
		  width: "18rem",
		  touch_boundary: "50",
		  slide_time: "0.2"
		})

		// function to toggle menu
		function openNavMenu() {
		  docsnav.openMenu()
		}
		// function to close menu
		function closeNavMenu() {
		  docsnav.closeMenu()
		}

		// when scrolling below 90, add sticky class to nav-button
		$(function() {
		  var header = $("#nav-button");
		  $(window).scroll(function() {
		    var scroll = $(window).scrollTop();
		    if (scroll >= 90) {
		      header.addClass("sticky");
		    } else {
		      header.removeClass("sticky");
		    }
		  });
		});
	</script>

</body>
</html>
