---
base_name: 'snippets'
base_title: 'Snippets'
base_nav: |
  <h1>Contents</h1>
  <ul>
  <li><a href="/snippets#General">General</a>
  <li><a href="/snippets#Conversions">Conversions</a>
  <li><a href="/snippets#FileInputOutput">File Input &amp; Output</a>
  <li><a href="/snippets#Math">Math</a>
  <li><a href="/snippets#Methods">Methods</a>
  <li><a href="/snippets#Rainmeter">Rainmeter</a>
  <li><a href="/snippets#Strings">Strings</a>
  <li><a href="/snippets#Time">Time</a>
  </ul>
  
  <h1>More</h1>
  <ul>
  <li><a href="/manual">3.2 Final Manual</a>
  <li><a href="/manual-beta">3.3 Beta Manual</a>
  <li><a href="/tips">Tips &amp; Tricks</a>
  <li><a href="/developers">Developers</a>
  <li><a href="/history">Version History</a>
  </ul>
---
<%- partial('_partial/article') %>