<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">Made with ❤ by the community.</div>
      <div class="col-6 text-center text-md-right"><% if (page.footercontent) { %><%- page.footercontent %><% } else { %>Icons by <a href="https://feathericons.com/" alt="feathericons">feathericons.com</a><% } %></div>
    </div>
  </div>
</footer>
