<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-6">Made with ❤ by the community.</div>
      <div class="col-6 text-right text-md-right">Icons by <a href="http://www.freepik.com" alt="Freepik">Freepik</a> and <a href="https://feathericons.com/" alt="feathericons">feathericons.com</a></div>
    </div>
  </div>
</footer>
