<%
  var currentFolder = page.path.match(/[^/]*/).toString();
  if (currentFolder == 'manual') {
    var currentTitle = '4.2 Final Manual'
  }
  else if (currentFolder == 'manual-beta') {
    var currentTitle = '4.3 Beta Manual'
  }
  else if (currentFolder == 'tips') {
    var currentTitle = 'Tips & Tricks'
  }
  else if (currentFolder == 'snippets') {
    var currentTitle = 'Snippets'
  }
  else if (currentFolder == 'developers') {
    var currentTitle = 'Developers'
  }
  else if (currentFolder == 'history') {
    var currentTitle = 'Version History'
  }
  else {
    var currentTitle = 'Docs'
  }
%>

<h4 id="category"><a href="/<%= currentFolder %>"><%= currentTitle %></a></h4>
<svg class="closeButton" onclick="closeNavMenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
<form id="search-form" method="get" action="https://www.google.com/search">
  <input name="sitesearch" value="docs.rainmeter.net" type="hidden">
  <input class="form-control" id="search" name="q" maxlength="255" size="16" placeholder="Search" type="text">
</form>
<hr />
<nav id="sidenav" class="sidenav">
<%- partial('_navigation/' + currentFolder + '').replace(/<(.*?)(href|src)="!(.*?)"/g, '<$1$2="/' + currentFolder + '/$3"') %>
</nav>
