---
layout: base
base_name: 'manual-beta'
base_title: '2.5 Beta Manual'
base_nav: |
  <h1>Contents</h1>
  <ul>
  <li><a href="!getting-started">Getting Started</a>
  	<ul>
  	<li><a href="!getting-started/setting-up">Setting Up</a>
  	<li><a href="!getting-started/using-rainmeter">Using Rainmeter</a>
  	<li><a href="!getting-started/customizing">Customizing</a>
  	<li><a href="!getting-started/creating-skins">Creating Skins</a>
  	<li><a href="!getting-started/basic-tutorials">Basic Tutorials</a>
  		<ul>
  		<li><a href="" style="color:gray; font-weight:normal">Launcher</a>
  		</ul>
  	</ul>
  <li><a href="!installing-rainmeter">Installing Rainmeter</a>
  <li><a href="!user-interface">User Interface</a>
  	<ul>
  	<li><a href="!user-interface/manage">Manage</a>
  	<li><a href="!user-interface/about">About</a>
  	<li><a href="!user-interface/context-menus">Context Menus</a>
  	</ul>
  <li><a href="!installing-skins">Installing Skins</a>
  <li><a href="!publishing-skins">Publishing Skins</a>
  </ul>
  
  <h1>Reference</h1>
  <ul>
  <li><a href="!settings">Settings</a>
  	<ul>
  	<li><a href="!settings/rainmeter-section">[Rainmeter] section</a>
  	<li><a href="!settings/traymeasure-section">[TrayMeasure] section</a>
  	<li><a href="!settings/skin-sections">[Skin] sections</a>
  	</ul>
  <li><a href="!skins">Skins</a>
  	<ul>
  	<li><a href="!skins/rainmeter-section">[Rainmeter] section</a>
  	<li><a href="!skins/metadata-section">[Metadata] section</a>
  	<li><a href="!skins/include-option">@Include option</a>
  	<li><a href="!skins/resources-folder">@Resources folder</a>
  	</ul>
  <li><a href="!meters">Meters</a>
  	<ul>
  	<li><a href="!meters/general-options">General Options</a>
  		<ul>
  		<li><a href="!meters/general-options/image-options">Image Options</a>
  		<li><a href="!meters/general-options/meterstyles">MeterStyles</a>
  		<li><a href="!meters/general-options/tooltips">Tooltips</a>
  		</ul>
  	<li><a href="!meters/bar">Bar</a>
  	<li><a href="!meters/bitmap">Bitmap</a>
  	<li><a href="!meters/button">Button</a>
  	<li><a href="!meters/histogram">Histogram</a>
  	<li><a href="!meters/image">Image</a>
  	<li><a href="!meters/line">Line</a>
  	<li><a href="!meters/rotator">Rotator</a>
  	<li><a href="!meters/roundline">Roundline</a>
  	<li><a href="!meters/string">String</a>
  	</ul>
  <li><a href="!measures">Measures</a>
  	<ul>
  	<li><a href="!measures/general-options">General Options</a>
  		<ul>
  		<li><a href="!measures/general-options/ifactions">IfActions</a>
  		<li><a href="!measures/general-options/substitute">Substitute</a>
  		</ul>
  	<li><a href="!measures/calc">Calc</a>
  	<li><a href="!measures/cpu">CPU</a>
  	<li><a href="!measures/freediskspace">FreeDiskSpace</a>
  	<li><a href="!measures/memory">Memory</a>
  	<li><a href="!measures/net">Net</a>
  	<li><a href="!measures/plugin">Plugin</a>
  	<li><a href="!measures/registry">Registry</a>
  	<li><a href="!measures/script">Script</a>
  	<li><a href="!measures/time">Time</a>
  	<li><a href="!measures/uptime">Uptime</a>
  	</ul>
  <li><a href="!plugins">Plugins</a>
  	<ul>
  	<li><a href="!plugins/advancedcpu">AdvancedCPU</a>
  	<li><a href="!plugins/coretemp">CoreTemp</a>
  	<li><a href="!plugins/folderinfo">FolderInfo</a>
  	<li><a href="!plugins/inputtext">InputText</a>
  	<li><a href="!plugins/itunes">iTunes</a>
  	<li><a href="!plugins/mediakey">MediaKey</a>
  	<li><a href="!plugins/nowplaying">NowPlaying</a>
  	<li><a href="!plugins/perfmon">PerfMon</a>
  	<li><a href="!plugins/ping">Ping</a>
  	<li><a href="!plugins/power">Power</a>
  	<li><a href="!plugins/process">Process</a>
  	<li><a href="!plugins/quote">Quote</a>
  	<li><a href="!plugins/recyclemanager">RecycleManager</a>
  	<li><a href="!plugins/resmon">ResMon</a>
  	<li><a href="!plugins/speedfan">SpeedFan</a>
  	<li><a href="!plugins/sysinfo">SysInfo</a>
  	<li><a href="!plugins/virtualdesktops">VirtualDesktops</a>
  	<li><a href="!plugins/webparser">WebParser</a>
  	<li><a href="!plugins/wifistatus">WiFiStatus</a>
  	<li><a href="!plugins/win7audio">Win7Audio</a>
  	<li><a href="!plugins/windowmessage">WindowMessage</a>
  	</ul>
  <li><a href="!options">Options</a>
  <li><a href="!bangs">Bangs</a>
  <li><a href="!variables">Variables</a>
  	<ul>
  	<li><a href="!variables/built-in-variables">Built-In Variables</a>
  	<li><a href="!variables/section-variables">Section Variables</a>
  	</ul>
  <li><a href="!groups">Groups</a>
  <li><a href="!mouse-actions">Mouse Actions</a>
  <li><a href="!lua-scripting">Lua Scripting</a>
  </ul>
  
  <h1>More</h1>
  <ul>
  <li><a href="/manual">2.4 Manual</a>
  <li><a href="/tips">Tips &amp; Tricks</a>
  <li><a href="/snippets">Snippets</a>
  <li><a href="/history">Version History</a>
  </ul>
---

<header>
	<h1>{{ page.title }}</h1>
</header>
<article>{{ content }}</article>