---
layout: base
layout_title: 'Rainmeter 2.4 Release Manual'
---
<nav id="sidenav">
	<h1><a href="/manual">2.4 Final Manual</a></h1>
	<ul>
	<li><a href="/manual/rainmeter-101">Rainmeter 101</a>
		<ul>
		<li><a href="/manual/rainmeter-101/getting-started">Getting Started</a>
		<li><a href="/manual/rainmeter-101/using-rainmeter">Using Rainmeter</a>
		<li><a href="/manual/rainmeter-101/customizing">Customizing</a>
		<li><a href="/manual/rainmeter-101/creating-skins">Creating Skins</a>
		<li><a href="/manual/rainmeter-101/tutorials">Tutorials</a>
			<ul>
			<li><a href="/manual/rainmeter-101/tutorials/meters-tutorial">Meters Tutorial</a>
				<li><a href="/manual/rainmeter-101/tutorials/styles-tutorial">Styles Tutorial</a>
			<li><a href="/manual/rainmeter-101/tutorials/measures-tutorial">Measures Tutorial</a>
			<li><a href="/manual/rainmeter-101/tutorials/variables-tutorial">Variables Tutorial</a>
			<li><a href="/manual/rainmeter-101/tutorials/actions-tutorial">Actions Tutorial</a>
			<li><a href="/manual/rainmeter-101/tutorials/update-tutorial">Update Tutorial</a>
			</ul>
		</ul>
	<li><a href="/manual/installing-rainmeter">Installing Rainmeter</a>
	<li><a href="/manual/user-interface">User Interface</a>
		<ul>
		<li><a href="/manual/user-interface/manage">Manage</a>
		<li><a href="/manual/user-interface/about">About</a>
		<li><a href="/manual/user-interface/context-menus">Context Menus</a>
		</ul>
	<li><a href="/manual/installing-skins">Installing Skins</a>
	<li><a href="/manual/publishing-skins">Publishing Skins</a>
	</ul>

	<h1><a href="/manual#Reference">Reference</a></h1>
	<ul>
	<li><a href="/manual/settings">Settings</a>
		<ul>
		<li><a href="/manual/settings/rainmeter-section">[Rainmeter] section</a>
		<li><a href="/manual/settings/traymeasure-section">[TrayMeasure] section</a>
		<li><a href="/manual/settings/skin-sections">[Skin] sections</a>
		</ul>
	<li><a href="/manual/skins">Skins</a>
		<ul>
		<li><a href="/manual/skins/rainmeter-section">[Rainmeter] section</a>
		<li><a href="/manual/skins/metadata-section">[Metadata] section</a>
		<li><a href="/manual/skins/include-option">@Include option</a>
		<li><a href="/manual/skins/resources-folder">@Resources folder</a>
		</ul>
	<li><a href="/manual/meters">Meters</a>
		<ul>
		<li><a href="/manual/meters/general-options">General Options</a>
			<ul>
			<li><a href="/manual/meters/general-options/image-options">Image Options</a>
			<li><a href="/manual/meters/general-options/meterstyles">MeterStyles</a>
			<li><a href="/manual/meters/general-options/tooltips">Tooltips</a>
			</ul>
		<li><a href="/manual/meters/bar">Bar</a>
		<li><a href="/manual/meters/bitmap">Bitmap</a>
		<li><a href="/manual/meters/button">Button</a>
		<li><a href="/manual/meters/histogram">Histogram</a>
		<li><a href="/manual/meters/image">Image</a>
		<li><a href="/manual/meters/line">Line</a>
		<li><a href="/manual/meters/rotator">Rotator</a>
		<li><a href="/manual/meters/roundline">Roundline</a>
		<li><a href="/manual/meters/string">String</a>
		</ul>
	<li><a href="/manual/measures">Measures</a>
		<ul>
		<li><a href="/manual/measures/general-options">General Options</a>
			<ul>
			<li><a href="/manual/measures/general-options/ifactions">IfActions</a>
			<li><a href="/manual/measures/general-options/substitute">Substitute</a>
			</ul>
		<li><a href="/manual/measures/calc">Calc</a>
		<li><a href="/manual/measures/cpu">CPU</a>
		<li><a href="/manual/measures/freediskspace">FreeDiskSpace</a>
		<li><a href="/manual/measures/memory">Memory</a>
		<li><a href="/manual/measures/net">Net</a>
		<li><a href="/manual/measures/plugin">Plugin</a>
		<li><a href="/manual/measures/registry">Registry</a>
		<li><a href="/manual/measures/script">Script</a>
		<li><a href="/manual/measures/time">Time</a>
		<li><a href="/manual/measures/uptime">Uptime</a>
		</ul>
	<li><a href="/manual/plugins">Plugins</a>
		<ul>
		<li><a href="/manual/plugins/advancedcpu">AdvancedCPU</a>
		<li><a href="/manual/plugins/coretemp">CoreTemp</a>
		<li><a href="/manual/plugins/folderinfo">FolderInfo</a>
		<li><a href="/manual/plugins/inputtext">InputText</a>
		<li><a href="/manual/plugins/itunes">iTunes</a>
		<li><a href="/manual/plugins/mediakey">MediaKey</a>
		<li><a href="/manual/plugins/nowplaying">NowPlaying</a>
		<li><a href="/manual/plugins/perfmon">PerfMon</a>
		<li><a href="/manual/plugins/ping">Ping</a>
		<li><a href="/manual/plugins/power">Power</a>
		<li><a href="/manual/plugins/process">Process</a>
		<li><a href="/manual/plugins/quote">Quote</a>
		<li><a href="/manual/plugins/recyclemanager">RecycleManager</a>
		<li><a href="/manual/plugins/resmon">ResMon</a>
		<li><a href="/manual/plugins/speedfan">SpeedFan</a>
		<li><a href="/manual/plugins/sysinfo">SysInfo</a>
		<li><a href="/manual/plugins/virtualdesktops">VirtualDesktops</a>
		<li><a href="/manual/plugins/webparser">WebParser</a>
		<li><a href="/manual/plugins/wifistatus">WiFiStatus</a>
		<li><a href="/manual/plugins/win7audio">Win7Audio</a>
		<li><a href="/manual/plugins/windowmessage">WindowMessage</a>
		</ul>
	<li><a href="/manual/options">Options</a>
	<li><a href="/manual/bangs">Bangs</a>
	<li><a href="/manual/variables">Variables</a>
		<ul>
		<li><a href="/manual/variables/built-in-variables">Built-In Variables</a>
		<li><a href="/manual/variables/section-variables">Section Variables</a>
		</ul>
	<li><a href="/manual/groups">Groups</a>
	<li><a href="/manual/mouse-actions">Mouse Actions</a>
	<li><a href="/manual/lua-scripting">Lua Scripting</a>
	</ul>

	<h1><a href="/">More</a></h1>
	<ul>
	<li><a href="" style="color:gray; font-weight:normal">2.5 Beta Manual</a>
	<li><a href="/tips">Tips &amp; Tricks</a>
	<li><a href="/snippets">Snippets</a>
	<li><a href="/history">Version History</a>
	</ul>
</nav>

<div class="content">
	<header>
		<h1>{{ page.title }}</h1>
	</header>
	<article>{{ content }}</article>
</div>