---
layout: base
base_name: 'tips'
base_title: 'Tips &amp; Tricks'
base_nav: |
  <h1>Contents</h1>
  <ul>
  <li><a href="/tips/#BeyondTheBasics">Beyond the Basics</a>
  <li><a href="/tips/#GoodToKnow">Good To Know</a>
  <li><a href="/tips/#GettingThingsDone">Getting Things Done</a>
  </ul>
  
  <h1>More</h1>
  <ul>
  <li><a href="/manual">2.4 Final Manual</a>
  <li><a href="" style="color:gray; font-weight:normal">2.5 Beta Manual</a>
  <li><a href="/snippets">Snippets</a>
  <li><a href="/history">Version History</a>
  </ul>
---

<header>
	<h1>{{ page.title }}</h1>
</header>
<article>{{ content }}</article>