<h4>Contents</h4>
	<ul class="docs-nav-block">
	<li><a class="active" href="/snippets/#General">General</a>
	<li><a href="/snippets/#Conversions">Conversions</a>
	<li><a href="/snippets/#FileInputOutput">File Input &amp; Output</a>
	<li><a href="/snippets/#Math">Math</a>
	<li><a href="/snippets/#Methods">Methods</a>
	<li><a href="/snippets/#Rainmeter">Rainmeter</a>
	<li><a href="/snippets/#Strings">Strings</a>
	<li><a href="/snippets/#Time">Time</a>
	</ul>

	<h4>More</h4>
	<ul class="docs-nav-block">
	<li><a href="/manual/">4.1 Final Manual</a>
	<li><a href="/manual-beta/">4.2 Beta Manual</a>
	<li><a href="/tips/">Tips &amp; Tricks</a>
	<li><a href="/developers/">Developers</a>
	<li><a href="/history/">Version History</a>
	</ul>
